name: Build, Push and Deploy DynViz

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # -------------------------
      # Checkout Code
      # -------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------
      # Setup Docker Buildx
      # -------------------------
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # -------------------------
      # Login to Docker Hub
      # -------------------------
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # -------------------------
      # Build + Push Backend Image
      # -------------------------
      - name: Build and push Backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: dynprobangalore/dynviz-v1:backend

      # -------------------------
      # Build + Push Frontend Image
      # -------------------------
      - name: Build and push Frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: dynprobangalore/dynviz-v1:frontend

      # -------------------------
      # DEPLOY TO EC2
      # -------------------------
      - name: Deploy to EC2 using deploy.sh
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu       # change if deploy.sh is in another folder
            chmod +x deploy.sh
            ./deploy.sh
