name: Build & Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build + Push backend
      - name: Build backend image
        run: |
          docker build -t dynprobangalore/dynviz-v1:backend -f backend/Dockerfile backend
          docker push dynprobangalore/dynviz-v1:backend

      # Build + Push frontend
      - name: Build frontend image
        run: |
          docker build -t dynprobangalore/dynviz-v1:frontend -f frontend/Dockerfile frontend
          docker push dynprobangalore/dynviz-v1:frontend
