name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Build and Push Docker Images"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/DynViz
            sudo docker-compose down || true
            sudo docker pull dynprobangalore/dynviz-v1:frontend
            sudo docker pull dynprobangalore/dynviz-v1:backend
            sudo docker-compose up -d --build

