name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Build & Push Docker Images"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd ~/DynViz

            echo "Stopping old containers..."
            sudo docker compose down || true

            echo "Logging into Docker Hub..."
            echo "${{ secrets.DOCKER_PASSWORD }}" | sudo docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            echo "Pulling latest images..."
            sudo docker pull dynprobangalore/dynviz-v1:backend
            sudo docker pull dynprobangalore/dynviz-v1:frontend

            echo "Starting containers..."
            sudo docker compose up -d --remove-orphans

            echo "Deployment complete!"
