name: Deploy DynViz to EC2

on:
  workflow_dispatch:
  push:
    paths:
      - 'deploy.sh'
      - 'docker-compose.yml'    # trigger if compose changed
      - '.github/workflows/ec2-deploy.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          envs: DOCKERHUB_USERNAME,DOCKERHUB_TOKEN
          script: |
            export DOCKERHUB_USERNAME="${{ secrets.DOCKER_USERNAME }}"
            export DOCKERHUB_TOKEN="${{ secrets.DOCKER_PASSWORD }}"
            cd /home/ubuntu
            chmod +x ./deploy.sh || true
            ./deploy.sh
