name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Build and Push Docker Images"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Connect to EC2 & Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script_stop: true
          script: |
            echo "Updating docker-compose image tags..."

            sed -i "s|backend-latest|backend-${{ github.event.workflow_run.head_commit.id }}|g" docker-compose.yml
            sed -i "s|frontend-latest|frontend-${{ github.event.workflow_run.head_commit.id }}|g" docker-compose.yml

            echo "Pulling updated version..."
            docker compose pull

            echo "Restarting services..."
            docker compose up -d --remove-orphans

            echo "Cleanup..."
            docker image prune -f

            echo "Deployment complete!"
            docker ps
